/* CSS Document */
iframe {float: left;}

body { 
  background-color: #193C78; 
  font-family:  Arial, Verdana, Helvetica, sans-serif; 
  font-size: 12px;
  color: #FFFFFF;
}

a:link, a:visited { 
  color: #FFFFFF; 
  text-decoration: none;
}

a:hover { text-decoration: underline; }

#outer { width: 800px; }

#frontbanner { position: absolute; left: 0px; top: 0px; }

#menu { 
  position: absolute; 
  left: 0px;
  top: 80px; 
  width: 200px;
  padding: 0px 10px 0px 40px; 
  margin-top: 20px; 
  /* min-height: 400px; */
  float: left;
}

.nav { 
  margin-bottom: 20px;
  margin-top: 1em; 
  list-style-type: disc;
}

.nav a { 
  text-decoration: none;
  margin-left: 1em;
  font-weight: bold;
  margin-bottom: 7px;
  display: list-item;
}

.nav a:hover { text-decoration: underline; }

#leftnav
{
  float: left;
  width: 160px;
  margin: 0;
  padding: 1em;
}

#contentwrapper
{
  margin-left: 250px;
  margin-top: 20px;
  background-color: inherit;
  border-left: 2px dotted #7E97BA;
}

#frontcontent { 
  position: absolute; 
  left: 250px;
  top: 80px;
  width: 500;
  margin-top: 20px;
  padding-left: 30px; 
  padding-right: 20px; 
  border-left: 2px dotted #7E97BA;
}

#frontcontent p { width: 460px; }


#content
{
  margin-left: 20px;
  padding: 10px 30px 30px 20px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 12pt;
  line-height: 120%;
}

#content h1 
{
  font-size: 16pt;
  color: #5879a8; 
  border-bottom: 1px dotted #000000; 
  line-height: 120%;
}

#content h2, h3, h4
{
  font-size: 14pt;
  line-height: 120%;
}

#content h5
{
  font-size: 12pt;
  font-weight: bold;
  line-height: 120%;
  padding-top: 1.5em;
}

#content h6
{
  font-size: 12pt;
  color: #5879a8; 
}

#content a { color: #193C78; 
  font-weight: bold;
text-decoration: none;}

#content ul li { margin-bottom: 1em;}

#footer {
  clear: both;
  margin-top: 2em;
  margin-left: 40px;
  padding: .5em;
  text-align: center;
  border-top: 1px solid #7E97BA;
}

#footer { width: 710px; height: 2px; color:#FFFFFF; position: absolute; left: 0px; top: 750px; border-top: 1px solid #7E97BA; margin-left:40px;}

#footer p {text-align: center; padding: 5px;}



