/* CSS Document */

body {
 margin: 15px;
 color: #000000;
 background: #000000;
 font-family: Arial, Helvetica, Verdana, sans-serif;
 font-size: 11px;
 }
 
 html {
 margin: 15px;
 color: #FFFFFF;
 background: #000000;
 font-family: Arial, Helvetica, Verdana, sans-serif;
 font-size: 12px;
	}

p {
font-family: Arial, Helvetica, sans-serif;
color: #FFFFFF;
font-size: 12px;
}


 
a:link {
  color: #99BDED;
  text-decoration: none;
   }
   
a:hover {
  color: #E6DCB5;
  }
  
a:visited {
 color: #6699CC;
 text-decoration: none;
}

div#frontcontent {
width: 493px;
background-color: #000000;
padding: 0px 20px 20px 0px;
margin-left: 10px;
} 

div#frontcontent img {
padding: 0px 17px 0px 0px;
}
   
div#content {
width: 483px;
background-color: #FFFFFF;
padding: 15px 25px 20px 25px;
margin-left: 10px;
}   

div#content p {
font-size: 12px;
color: #000000;
}

div#content a {
color: #206FDC;
}

div#content a:hover {
text-decoration: underline;
}

/* 
div#content blockquote {
font-family: Arial, Helvetica, sans-serif;
color: #000000;
font-size: 12px;
margin-left: 20px;
}
*/

div#content h3 {
font-size: 16px;
color: #B53F06;
}
   
div#content h4 {
font-size: 18px;
color: #B53F06;
border-bottom: dotted 1px #000000;
}   
   
div#content h5 {
font-size: 14px;
color: #000000;
}   

div#content h6 {
font-size: 12px;
color: #000000;
} 

div#content ol {
font-size: 12px;
color: #000000;
} 

div#content li {
font-size: 12px;
color: #000000;
margin-bottom: 1em;
margin-right: 20px;
}

div#content dt {
font-size: 12px;
font-weight: bold;
color: #000000;
margin-bottom: 1em;
} 

div#content dd {
font-size: 12px;
color: #000000;
margin-bottom: 1em;
margin-right: 20px;
}

#content div.callout {
position: relative;
top: 0;
margin: 0 10px 12px 24px;
padding: 0;
float: right;
}

#content div.callout p, #content div.callout ul {
margin: 0;
padding: 8px;
border: 1px solid #999;
background-color: #EBE4FA;
}
	
#content div.listing {	
margin: 0px 20px 10px 20px;
}
   
div#copyright {
font-size: 10px;
color: #FFFFFF;
text-align: center;
}

div#menu {
border-right: 1px solid #FFFFFF;
width: 210px;
}

div#menu p {
margin-left: 0.5em;
}

div#menu h5 {
font-size: 14px;
color: #0033ff;
}
